body {
    background-color: #FEFDF9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    flex-direction: column;
}
.pict {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.pict img {
    width: 30px;
    margin-right: 5px;
}
.divider {
    width: 100%;
    height: 0.5px;
    background-color: #AF9090;
    margin-top: 2%;
    margin-bottom: 2%;
}
.container {
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 65%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.container .divider {
    margin: 10px 0;
}
.container .line {
    width: 100%;
    height: 0.5px;
    background-color: #757575;
    margin: 5px;
}   
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-bottom: 10px;

}
.logo img {
    width: 60px;
    border-radius: 50%;
}
.title {
    font-size: 30px;
    margin-bottom: 5px;
}
.acc{
    display: flex;
}
.avatar {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    color: #ffffff;
    background-color: #F12A2A;
}
.subtitle {
    font-size: 14px;
    color: #666;
    margin: auto 5px;
}
.left, .right {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.left {
    padding-left: 10px;
    width: 300px;
}
.right {
    padding-right: 10px;
    width: 45%;
}
.right a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.right a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.right input {
    width: 100%;
    height: 55px;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
}
.right .password-container i {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}
.forgot-account{
    margin-bottom: 5%;
    color: #007aff;
    border: none;
    background: none;
    text-align: left;
    width: fit-content;
}
.buttons {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
.buttons a{
    margin-left: 5px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 35px;
}
.buttons button {
    color: #ffffff;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 52px;
    padding: 10px 20px;
    background: #007aff;
}
.un{
    width: 67%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.un button{
    display: flex;
    width: 160px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-radius: 10px;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}
.bxs-down-arrow{
    margin-left: 10px;
}
.DeP0Wd{
    display: flex;
}
.un button:hover{
    background: #f3f3f3;
}
.DeP0Wd button{
    display: flex;
    justify-content: flex-end;
    width: auto;
}
