@media (max-width: 768px) {
    body {
      background-color: lightgray;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    body {
      background-color: lightblue;
    }
  }

  @media (min-width: 1025px) {
    body {
      background-color: white;
    }
  }  
body {
    font-family: 'Fahkwang', sans-serif;
    margin: 0;
    padding: 0;
    background: url(./picture/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fdd9b5;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 70px;
    height: auto;
}
.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding-left: 10px;
}
.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 500px;
}
.search-bar button{
    font-size: 16px;
    border-radius: 20px;
    width: 15%;
    padding: 5px 10px;
    margin: 5px;
    border: none;
}
a {
    color: 
    rgb(0, 0, 0);
    text-decoration: none;
  }
a:hover{
    color: #007aff;
}
.menu-buttons {
    display: flex;
    gap: 20px;
}
.menu-buttons button {
    background: #71605A;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.icon-buttons {
    display: flex;
    gap: 20px;
}
.icon-buttons button {
    background: #71605A;
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
#account-btn{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
button:hover {
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}
button:active {
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;
}



.login-container {
    background: rgb(255, 247, 217 , 0.8);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 450px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    margin-bottom: 50px;
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
.login-container input {
    width: 90%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: left;
}
.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    border-radius: 10px;
    font-size: 16px;
}
.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 15%;
}
.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
.forgot-password {
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #d60000;
}
.forgot-password:hover {
    text-decoration: underline;
}
.login-container button {
    background: #f4e1c9;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 48%;
    margin-top: 15px;
    margin-right: 5px;
}
.alt-login {
    margin-top: 20px;
}
.alt-login p {
    font-size: 16px;
    font-weight: bold;
}
.alt-login button {
    width: 48%;
    padding: 12px;
    margin-top: 12px;
    background: #ffcc80;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
}
.alt-login img {
    width: 16px;
    margin-right: 12px;
}





footer {
    background-color: #ffe5c2;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
.footer-container {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}
.footer-title {
    color: red;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.contact-info p {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 8px;
    margin: 3px 0;
}
.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.copyright {
    text-align: center;
    font-size: 12px;
    color: red;
    width: 100%;
    padding: 5px 0;
}